## **YData Fabric GUI SDK - Generate Synthetic Data**

In this quickstart example, we demonstrate how to generate synthetic data using a Fabric synthetic data generation capabilities. For the SaaS community version it is possible to generate synthetic data samples from a Synthetic Data generator that have been previously trained through the GUI. 

If you don't have yet a dataset, grab the "census.csv" in this example and follow the next steps in the UI:

- *Upload the CSV through the Data Catalog*

<img src ="img/Upload_csv_data_catalog.png" width = "600" height = "300" >

- *Create a Synthetic data generation through the GUI*

<img src ="img/synthetic_data.png" width = "600" height = "300" >

- *Copy the code snippet from "Use in Labs"*

The code snippet will be similar to the code available in the next cell

In [11]:
# Importing YData's platform SDK
from ydata.labs import Synthesizers
# Accessing the Synthesizer and printing its details
synthesizer = Synthesizers.get(uid='{add-synth-id}')

In [10]:
# Sampling from existing synth
synth_dataset = synthesizer.sample(10000) # The generated sample will be created in the UI under the Generation tab

In [12]:
synth_dataset.head()

,Column_0,Column_1,Column_2,Column_3,Column_4,Column_5,Column_6,Column_7,Column_8,Column_9,Column_10,Column_11,Column_12,Column_13,Column_14
0,52,Private,195638,11th,7,Separated,Handlers-cleaners,Unmarried,Black,Female,0,0,40,United-States,<=50K
1,32,Private,185480,Assoc-voc,11,Married-civ-spouse,Handlers-cleaners,Husband,White,Male,0,0,38,United-States,>50K
2,32,Federal-gov,148138,Some-college,10,Never-married,Adm-clerical,Unmarried,White,Female,0,0,18,United-States,<=50K
3,22,Private,250647,Some-college,10,Never-married,Other-service,Not-in-family,White,Male,4101,0,40,United-States,<=50K
4,32,Local-gov,84119,Some-college,10,Divorced,Adm-clerical,Not-in-family,White,Female,0,0,40,United-States,<=50K

Any sample generated through the labs will be also available through the UI along with the Synthetic Data Quality PDF report and profiling compare.

- *Synthetic data profiling compare*

<img src ="img/profiling.png" width = "600" height = "300" >